<ion-content>
  <div class="content" [ngClass]="'bg-' + background">
    <ion-card-header class="header">
      <ion-button fill="clear" color="dark" (click)="openActionSheet()"
        ><ion-icon slot="icon-only" name="menu"></ion-icon
      ></ion-button>
    </ion-card-header>
    <ng-container *ngIf="weather">
      <div *ngIf="alerts.rain || alerts.strongWind" class="alerts">
        <i *ngIf="alerts.strongWind" class="wi wi-strong-wind"></i>
        <i *ngIf="alerts.rain" class="wi wi-umbrella"></i>
      </div>
      <div class="weather-state">
        <ion-thumbnail class="weather-icon" *ngIf="weather">
          <i class="wi" [ngClass]="weatherIcon"></i>
        </ion-thumbnail>
        <ion-label id="weather_info" *ngIf="weather"
          ><ion-card-title id="degrees"
            ><strong>{{ temperature }}°</strong></ion-card-title
          >
          <ion-card-subtitle id="description">{{ weatherState }}</ion-card-subtitle>
        </ion-label>
      </div>
      <app-outfit-preview
        class="outfit-preview"
        [weather]="weather"
        [userPrefs]="userPref$ | async"
      ></app-outfit-preview>
    </ng-container>
  </div>
</ion-content>
