.outfit-preview {
  align-self: center;
}

.header {
  display: flex;
  justify-content: space-between;
  background: none;
}

.weather-state {
  display: flex;
  align-items: center;
}

.weather-state > * {
  margin: 4px;
}

#description {
  color: #444;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sunny {
  background: linear-gradient(#dd8f28, #faf75a);
}
.night {
  background: linear-gradient(#342bb1, #2a668f);
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
