<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <!-- Temporary -->
    {{ user$ | async | json }}
    <ion-button (click)="signIn()">Sign In</ion-button>
    <ion-button (click)="signInWithFacebook()">Sign In Facebook</ion-button>
    <ion-button (click)="signUp()">Sign Up</ion-button>
    <ion-button (click)="signOut()">Sign Out</ion-button>
  </div>
  <div>
    <ion-button (click)="getWeather(0)">Dzisiaj</ion-button>
    <ion-button (click)="getWeather(1)">Jutro</ion-button>
    <ion-button (click)="getWeather(2)">Pojutrze</ion-button>
    <hr />
    {{ weather$ | async | json }}
  </div>
  <div>{{ coordinates$ | async | json }}</div>
</ion-content>
