ion-avatar {
  width: 100% !important;
  height: 100% !important;
  max-width: 100px !important;
  max-height: 100px !important;
}
.avatar {
  margin: auto;
}
#close-bar {
  text-align: right;
}
#close-icon {
  font-size: 50px;
}

#input-elements {
  width: 80%;
  margin: auto;
  padding-top: 20%;
}
#nav-buttons {
  padding-top: 10%;
  width: 60%;
  margin: auto;
}
#settings {
  margin-top: 30%;
  text-align: center;
}
a {
  text-decoration: none;
}
