<ion-header no-border id="close-bar">
  <ion-button fill="clear" color="dark" href="/home"
    ><ion-icon id="close-icon" name="close"></ion-icon></ion-button
></ion-header>
<ion-content>
  <ion-text text-center>
    <h1>Ustawienia</h1>
  </ion-text>
  <form>
    <ion-list>
      <ion-item>
        <ion-label>Płeć avatara</ion-label>
        <ion-select placeholder="Wybierz">
          <ion-select-option value="male">Mężczyzna</ion-select-option>
          <ion-select-option value="female">Kobieta</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Preferowany styl ubioru</ion-label>
        <ion-select placeholder="Wybierz">
          <ion-select-option value="formal">Formalny</ion-select-option>
          <ion-select-option value="casual">Codzienny</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div text-center>
      <ion-button type="submit" size="large" fill="clear" id="save"
        >Zapisz</ion-button
      >
    </div>
  </form>
</ion-content>
