<ion-header no-border id="close-bar">
  <ion-button fill="clear" color="dark" [routerLink]="['/']"
    ><ion-back-button class="close-icon" icon="close"></ion-back-button></ion-button
></ion-header>
<ion-content>
  <form class="content" [formGroup]="preferences">
    <ion-text text-center>
      <h1>Ustawienia</h1>
    </ion-text>
    <ion-item>
      <ion-label>Płeć avatara</ion-label>
      <ion-select placeholder="Wybierz" formControlName="gender">
        <ion-select-option value="male">Mężczyzna</ion-select-option>
        <ion-select-option value="female">Kobieta</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Styl ubioru</ion-label>
      <ion-select placeholder="Wybierz" formControlName="outfitStyle">
        <ion-select-option value="formal">Formalny</ion-select-option>
        <ion-select-option value="casual">Codzienny</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" size="large" fill="clear" id="save" (click)="savePreferences()"
      >Zapisz</ion-button
    >
  </form>
</ion-content>
